<%-include("partials/header2.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/mywallet.css">
</head>
<body>
    <body>
        <div class="container">
          <div class="iphone">
            <div class="header">
              <div class="header-summary">
                <div class="summary-text">
                  My Balance
                </div>
                <div class="summary-balance">
                  &#8377; 293.00
                </div>
                <div class="summary-text-2">
                  +&nbsp;280.00
                </div>
                </div>
                <div class="user-profile">
                <img src="https://pbs.twimg.com/profile_images/1089189690773712897/bCJr7IzK_400x400.jpg" class="user-photo">
              </div>
            </div>
          
      
          </div>
        </div>
      </body>
</body>
</html>